@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Press+Start+2P&display=swap');


body{
    font-family: 'Press Start 2P', cursive;
    background-color: #10A19D;
}


input[type="radio"]{
    display: none;
    justify-content: center;
}
input[type="radio"]:checked {
    background-color: #f0f8ff;
}

#title{
    color:#FF7000;
    display:flex;
    justify-content:center;
    align-items:center; 
    height: auto;
    width: auto;
    font-size: 70px;
    margin: 50px 0px 0px 0px;
    text-shadow: 2px 2px 2px black;
    
}

#choosePet{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subtitle{
    color: #FFBF00;
    padding: 0px 0px 0px 0px ;
    text-shadow: 1px 1px 1px black;
}

.petCard{
    width: 250px;
    height: 330px;
    background-color: #77037B;
    padding: 10px;
    box-sizing: content-box;
    margin: 20px;
    border: 1px solid hotpink;
    color: #10A19D;
    text-align: center;
    border-radius: 20%;
    font-size: 20px;
    text-shadow: 1px 1px 1px black;
    display: flex;
    flex-direction: column;
    border-color: transparent;
}
.petCard img{
    justify-items: center;
    overflow: hidden;
}

.btnStats{
    display: flex;
    font-size: 15px;
}
label:hover{
    cursor: pointer;
    background-color: #f0f8ff;
}
.subtitle {
    font-size: 50px;
}

#btnPet{
    display: flex;
    height: auto;
    width:auto;
    font-family: 'Press Start 2P', cursive;
    background-color: #B799FF;
    font-size: 15px;
    padding: 10px;
    box-shadow:
    inset -3px 3px 2px 2px #ACBCFF
    inset -3px -3px 2px 2px #ACBCFF
    inset 3px 1px 2px 2px #ACBCFF;
    position: relative;
}


#btnPet:hover{
    cursor: pointer;
    background-color: #000000;
    color: #B799FF;
    box-shadow:
    -3px 3px 2px 2px #ACBCFF
    -3px -3px 2px 2px #ACBCFF
    3px 1px 2px 2px #ACBCFF;
}
input:focus .label {
  color: #B799FF;
}
input:blur .label{
    color: #f0f8ff;
}
#chooseAttack{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.btnAttack{
    width: 140px;
    height: 60px;
    border-radius: 100px ;
    font-family: 'Bungee', cursive;
    font-size: 20px;
    padding: 1px 6px;
    color: #f0f8ff;
    background-color: #77037B;
    box-sizing: 20px;
    border-color: transparent;
}
.btnAttack:hover{
    cursor: pointer;
    background-color: #f0f8ff;
    color: #77037B;
    border-color: transparent;
}
#alerts-Combat{
    width: auto;
    padding: 10px;
    color: #f0f8ff;
    background-color: #77037B;
    border-radius: 30px;
    border: transparent;
    margin-top: 10px;
    align-items: center;
    display: flex;
    flex-direction:column ;
}

#btnReboot{
    border: none;
    color: #000000;
    font-family: 'Press Start 2P', cursive;
    font-size: 15px;
    width: 150px;

}
.attacks{
    display: grid;
    grid-template-columns: [column1] 170px [column2] 170px ;
    column-gap: 50px;
    padding: 14px 0px 14px 0px;
    place-items: center;
    align-content: center;
}
#hpAllyPet{
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding: 1px;
    margin: 10px;
}
#hpEnemyPet{
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding: 1px;
    margin: 10px;
}
#player-Attacks{
    align-self: stretch;
    
}
#enemy-Attacks{
    align-self: stretch;
    
}

@media (max-width:360 )


